@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@font-face {
    font-family: 'KoPubDotum';
    font-weight: 400;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
}


// 변수 이름 변경이나 추가 자유롭게 해주세요!
@theme {
  --font-kopub: "KoPubDotum", serif;
  --font-wantedsans: "Wanted Sans Variable", "Wanted Sans", sans-serif;
  --font-pretendard: "Pretendard Variable", "Pretendard", system-ui;

  --color-main-1: #06A194;
  --color-bg-1: #e6f6f6;
  --color-purple-1: #6B5DD6;
  --color-purple-2: #A78AF4;
  --color-purple-3: #EDE8FB;

}

html {
  scrollbar-gutter: stable;
}